In [3]:
import pandas as pd
import numpy as np
from pandas import datetime
from matplotlib import pyplot as plt

<ipython-input-3-0c95b2fc7292>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

In [4]:
def parser(x):
    return datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

input_file = './data/AirQualityUCI_refined.csv'

df = pd.read_csv(input_file,
                 index_col=[0],
                 parse_dates=[0],
                 date_parser=parser)

df.head()

,CO(GT),PT08.S1(CO),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),RH,AH,C6H6(GT)
Datetime,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,1046.0,166.0,1056.0,113.0,1692.0,1268.0,48.9,0.7578,11.9
2004-03-10 19:00:00,2.0,1292.0,955.0,103.0,1174.0,92.0,1559.0,972.0,47.7,0.7255,9.4
2004-03-10 20:00:00,2.2,1402.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,54.0,0.7502,9.0
2004-03-10 21:00:00,2.2,1376.0,948.0,172.0,1092.0,122.0,1584.0,1203.0,60.0,0.7867,9.2
2004-03-10 22:00:00,1.6,1272.0,836.0,131.0,1205.0,116.0,1490.0,1110.0,59.6,0.7888,6.5

In [5]:
# Visualization setup
%matplotlib
%config InlineBackend.figure_format = 'svg'

from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = [10, 5]
plt.ion() # enable the interactive mode

import seaborn as sns
sns.set()  # set plot styles

Using matplotlib backend: Qt5Agg

In [10]:
# df[('CO(GT)')].plot()
# df[('CO(GT)')].interpolate(inplace=True) #inplace는 원본 덮어쓰기 
co = df['CO(GT)'].copy()
co.interpolate(inplace=True)

In [11]:
max_val = co.max()
min_val = co.min()
print(max_val, min_val)

11.9 0.0

In [13]:
bins = np.linspace(min_val, max_val, 6) #중간 값 간격 얻기
bins

array([ 0.  ,  2.38,  4.76,  7.14,  9.52, 11.9 ])

In [14]:
labels=['0 <= x<2.38', '2.38<= x < 4.76', '4.76 <= x <7.14',
       '7.14<=x<9.52', '9.52<=x<11.9'] #레이블은 5개

In [15]:
df['bins'] = pd.cut(co, bins = bins, labels=labels, include_lowest=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9357 entries, 2004-03-10 18:00:00 to 2005-04-04 14:00:00
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    8991 non-null   float64
 2   PT08.S2(NMHC)  8991 non-null   float64
 3   NOx(GT)        7718 non-null   float64
 4   PT08.S3(NOx)   8991 non-null   float64
 5   NO2(GT)        7715 non-null   float64
 6   PT08.S4(NO2)   8991 non-null   float64
 7   PT08.S5(O3)    8991 non-null   float64
 8   RH             8991 non-null   float64
 9   AH             8991 non-null   float64
 10  C6H6(GT)       9357 non-null   float64
 11  bins           9357 non-null   category
dtypes: category(1), float64(11)
memory usage: 886.6 KB

In [16]:
df['bins']

Datetime
2004-03-10 18:00:00    2.38<= x < 4.76
2004-03-10 19:00:00        0 <= x<2.38
2004-03-10 20:00:00        0 <= x<2.38
2004-03-10 21:00:00        0 <= x<2.38
2004-03-10 22:00:00        0 <= x<2.38
                            ...
2005-04-04 10:00:00    2.38<= x < 4.76
2005-04-04 11:00:00    2.38<= x < 4.76
2005-04-04 12:00:00    2.38<= x < 4.76
2005-04-04 13:00:00        0 <= x<2.38
2005-04-04 14:00:00        0 <= x<2.38
Name: bins, Length: 9357, dtype: category
Categories (5, object): ['0 <= x<2.38' < '2.38<= x < 4.76' < '4.76 <= x <7.14' < '7.14<=x<9.52' < '9.52<=x<11.9']

In [17]:
plt.hist(df['bins'], bins=5)
plt.show()

In [18]:
df.min()

CO(GT)                   0.0
PT08.S1(CO)            647.0
PT08.S2(NMHC)          383.0
NOx(GT)                  2.0
PT08.S3(NOx)           322.0
NO2(GT)                  2.0
PT08.S4(NO2)           551.0
PT08.S5(O3)            221.0
RH                       9.2
AH                    0.1847
C6H6(GT)                 0.0
bins             0 <= x<2.38
dtype: object

In [24]:
# import seaborn as sns
# sns.diftplot(df['PT08.S3(NOx)'])

In [28]:
df['log'] = np.log10(df['PT08.S3(NOx)'])
df.min()

CO(GT)                   0.0
PT08.S1(CO)            647.0
PT08.S2(NMHC)          383.0
NOx(GT)                  2.0
PT08.S3(NOx)           322.0
NO2(GT)                  2.0
PT08.S4(NO2)           551.0
PT08.S5(O3)            221.0
RH                       9.2
AH                    0.1847
C6H6(GT)                 0.0
bins             0 <= x<2.38
log                 2.507856
dtype: object

In [30]:
sns.distplot(df['log'])
plt.xlabel('log(NOx)')
# plt.ylabel('log(NOx)')
plt.show()

C:\Users\sunmi\anaconda3\lib\site-packages\seaborn\distributions.py:2557: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [32]:
emp_id = pd.Series([1, 2, 3, 4, 5])
gender = pd.Series(['Male', 'Female', 'Female', 'Male', 'Femail'])
remarks = pd.Series(['Nice', 'Good', 'Great', 'Great', 'Nice'])

df_emp = pd.DataFrame() #비어있는 데이터프레임 생성
df_emp['emp_id'] = emp_id
df_emp['gender'] = gender
df_emp['remarks'] = remarks

df_emp

   emp_id  gender remarks
0       1    Male    Nice
1       2  Female    Good
2       3  Female   Great
3       4    Male   Great
4       5  Femail    Nice

In [34]:
print(df_emp['emp_id'].unique())
print(df_emp['gender'].unique())
print(df_emp['remarks'].unique())

[1 2 3 4 5]
['Male' 'Female' 'Femail']
['Nice' 'Good' 'Great']

In [37]:
df_emp_encoded = pd.get_dummies(df_emp, columns=['gender', 'remarks'])
df_emp_encoded

,emp_id,gender_Femail,gender_Female,gender_Male,remarks_Good,remarks_Great,remarks_Nice
0,1,0,0,1,0,0,1
1,2,0,1,0,1,0,0
2,3,0,1,0,0,1,0
3,4,0,0,1,0,1,0
4,5,1,0,0,0,0,1

In [47]:
co = df['CO(GT)'].copy()
co_max = co.max()
co_min = co.min()

df['CO_Norm'] = (co- co_min)/ (co_max - co_min)
df['CO_Norm'] #0과 1사이의 값으로 정규화

Datetime
2004-03-10 18:00:00    0.218487
2004-03-10 19:00:00    0.168067
2004-03-10 20:00:00    0.184874
2004-03-10 21:00:00    0.184874
2004-03-10 22:00:00    0.134454
                         ...
2005-04-04 10:00:00    0.260504
2005-04-04 11:00:00    0.201681
2005-04-04 12:00:00    0.201681
2005-04-04 13:00:00    0.176471
2005-04-04 14:00:00    0.184874
Name: CO_Norm, Length: 9357, dtype: float64

In [50]:
plt.plot(df['CO(GT)'], label='CO')
plt.plot(df['PT08.S2(NMHC)'], label='NMHC')
plt.legend(loc='best')

In [53]:
nmhc=  df['PT08.S2(NMHC)'].copy()
nmhc_max = nmhc.max()
nmhc_min = nmhc.min()

df['NMHC_Norm'] = (nmhc- nmhc_min)/ (nmhc_max - nmhc_min)
df['NMHC_Norm'] #0과 1사이의 값으로 정규화

Datetime
2004-03-10 18:00:00    0.362097
2004-03-10 19:00:00    0.312398
2004-03-10 20:00:00    0.303659
2004-03-10 21:00:00    0.308575
2004-03-10 22:00:00    0.247406
                         ...
2005-04-04 10:00:00    0.392135
2005-04-04 11:00:00    0.351720
2005-04-04 12:00:00    0.371382
2005-04-04 13:00:00    0.315674
2005-04-04 14:00:00    0.362643
Name: NMHC_Norm, Length: 9357, dtype: float64

In [54]:
plt.plot(df['CO_Norm'], label='CO(normalized )')
plt.plot(df['NMHC_Norm'], label='NMHC(cormalized)')
plt.legend(loc='best')