In [2]:
"""Functions"""

def my_function(x):
    return x+1

y=3
result=my_function(y)
print(result)

x=1

class my_class:
    #staticmethod 사용하여 매개변수 사용가능
    def my_method(self):
        return x+1
    
cls= my_class()
cls.my_method()

4

2

In [6]:
"""Parameters"""
def introduce_myself(name, birthday, city): #parameter
    print("Hello, My name is %s, I was born in %d, and I live in %s"\
         %(name, birthday, city))

introduce_myself("Seon min", 2001, "Wonju") #argument

Hello, My name is Seon min, I was born in 2001, and I live in Wonju

In [9]:
"""Return"""
#leap year=윤년(2월 29일)
def check_leap_year(year):
    if year%4==0:
        return "%s is a leap year."%(year)
    else:
        return "%s is not a leap year."%(year)
    
check_leap_year(2030)

'2030 is not a leap year.'

In [12]:
"""returning multiple values"""

def square_point(x,y,z):
    x_squared=x**2
    y_squared=y**2
    z_squared=z**2
    return  x_squared,y_squared, z_squared

three_squared, for_squared, five_squared=square_point(3,4,5)
print(three_squared, for_squared, five_squared)

9 16 25