In [1]:
import pandas as pd
import numpy as np

In [3]:
#문서보기
#pd?

In [5]:
#버전보기
# pd.__version__

In [9]:
#Series
ser=pd.Series([0.25, 0.5, 0.75, 1.0]) #cpntructor method
print(ser)
print(type(ser))

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

In [12]:
arr = ser.values #numpy배열로 변환
ind = ser.index #인덱스 값 변환
print(arr)
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [16]:
ser = pd.Series([0.25, 0.5, 0.75, 1.00], index=['a','b','c','d'])
print(ser)
ser['d']

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

1.0

In [18]:
dict={'a':1, 2:'two','third':True}
print(dict)
ser = pd.Series(dict)
print(ser)

{'a': 1, 2: 'two', 'third': True}
a           1
2         two
third    True
dtype: object

In [23]:
arr = np.random.rand(3,2)
print(arr)

pd.DataFrame(arr, columns=['foo','bar'], index=['a', 'b','c'])

[[0.05516504 0.64154924]
 [0.70322132 0.14526838]
 [0.78846037 0.6393257 ]]

        foo       bar
a  0.055165  0.641549
b  0.703221  0.145268
c  0.788460  0.639326

In [31]:
ser = pd.Series([0.25, 0.5, 0.75, 1.00], index=['a','b','c','d'])
print(ser['b'])
print('a' in ser)
print(0.25 in ser)

0.5
True
False

In [35]:
ser.keys()
ser['e'] = 1.25
print(ser)

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [37]:
ser['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [39]:
ser[(ser>0.3)&(ser<0.8)]

b    0.50
c    0.75
dtype: float64

In [50]:
print(ser)
ser.loc['a']
ser.loc['a':'c']

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

a    0.25
b    0.50
c    0.75
dtype: float64

In [46]:
ser.iloc[1:5]

b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64